modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm ci && npm run build && npm run validate"]
run = ["sh", "-c", "cd dist && npm install --production && NODE_ENV=production node index.js"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 11632
externalPort = 3002
exposeLocalhost = true

[[ports]]
localPort = 32754
externalPort = 5000
exposeLocalhost = true

[[ports]]
localPort = 40562
externalPort = 3003
exposeLocalhost = true

[[ports]]
localPort = 42575
externalPort = 6000
exposeLocalhost = true

[[ports]]
localPort = 48210
externalPort = 4200
exposeLocalhost = true

[[ports]]
localPort = 64468
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 64628
externalPort = 3000
exposeLocalhost = true
